* {
  box-sizing: border-box;
}

main {
  background-color: #062c22;
}

header {
  margin: 0;
  padding: 0;
  font-family: poppins, san-serif;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  background-color: #062c22;
  color: white;
}
@media screen and (max-width: 400px) {
  header .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}
header .navbar .logo {
  font-size: 1.5rem;
  margin: 0.5rem;
}
header .navbar .hamburger-link {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
@media screen and (max-width: 400px) {
  header .navbar .hamburger-link {
    display: flex;
  }
}
header .navbar .hamburger-link .link-bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
@media screen and (max-width: 400px) {
  header .navbar .navbar__links {
    width: 100%;
    display: none;
  }
}
header .navbar .navbar__links:active {
  display: flex;
}
header .navbar .navbar__links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
@media screen and (max-width: 400px) {
  header .navbar .navbar__links ul {
    flex-direction: column;
    width: 100%;
  }
}
header .navbar .navbar__links ul li {
  list-style: none;
}
@media screen and (max-width: 400px) {
  header .navbar .navbar__links ul li {
    text-align: center;
  }
}
header .navbar .navbar__links ul li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}
@media screen and (max-width: 400px) {
  header .navbar .navbar__links ul li a {
    padding: 0.5rem 1rem;
  }
}

.navbar__links li:hover {
  background-color: purple;
}

.web__grid {
  display: grid;
  grid-template-columns: repeat(3, fr);
  row-gap: 30vh;
  grid-template-areas: "one two two" "three four four" "five six seven" "eight nine ten" "eleven eleven eleven";
  margin-inline: 0 auto;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .web__grid {
    grid-template-columns: repeat(1, fr);
    grid-template-areas: "one two" "three four" "five six" "seven eight" "nine ten" "eleven eleven";
  }
}
@media screen and (max-width: 400px) {
  .web__grid {
    grid-template-columns: repeat(2, fr);
    grid-template-areas: "one" "two" "three" "four" "five" "six" "seven" "eight" "nine" "ten" "eleven";
  }
}
.web__grid .grid__item {
  display: flex;
}
.web__grid .grid__item--one {
  grid-area: one;
  font-family: poppins, san-serif;
  color: #f5efef;
}
.web__grid .grid__item--one h1 {
  font-size: 1.5rem;
  padding-top: 20%;
  padding-left: 10%;
  text-align: center;
}
.web__grid .grid__item--two {
  grid-area: two;
  justify-content: center;
  padding: 5% 0;
}
.web__grid .grid__item--two #homepage__image {
  width: 70%;
}
.web__grid .grid__item--three {
  grid-area: three;
  justify-content: center;
  padding: 5% 0;
}
.web__grid .grid__item--three #myPicture {
  width: 50%;
}
.web__grid .grid__item--four {
  grid-area: four;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-family: open-sans, san-serif;
  color: #f5efef;
  padding: 0 10%;
}
.web__grid .grid__item--four p {
  line-height: 1.5;
}
.web__grid .grid__item--five {
  grid-area: five;
  justify-content: center;
  padding: 5% 0;
}
.web__grid .grid__item--six {
  grid-area: six;
  justify-content: center;
  padding: 5% 0;
}
.web__grid .grid__item--seven {
  grid-area: seven;
  justify-content: center;
  padding: 5% 0;
}
.web__grid .grid__item--eight {
  grid-area: eight;
  justify-content: center;
  padding: 5% 0;
}
.web__grid .grid__item--nine {
  grid-area: nine;
  justify-content: center;
  padding: 5% 0;
}
.web__grid .grid__item--ten {
  grid-area: ten;
  justify-content: center;
  padding: 5% 0;
}
.web__grid .grid__item--eleven {
  grid-area: eleven;
  justify-content: center;
}